h1{
  color: rgb(138, 69, 19);
  background-color: lightsalmon;
  margin: 1rem 45rem 4rem 45rem;
}

body {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: center;
  background: radial-gradient(circle, rgb(0, 0, 0) 50%, brown 250%);
}

.form {
  background-color: antiquewhite;
  font-family: 'Courier New', Courier, monospace;
  font-size: 20px;
  margin: 4rem 10rem 4rem 10rem;
  border-width: 5px;
  border-style: solid;
  border-color: rgb(196, 121, 24);
  padding: 1rem;
}

.form button {
  padding: 10px;
  margin: 1rem;
}

.form button:hover {
  background-color: lightsalmon;
}